.end {
    width: 100%;
    height: 100vh;
}

.end .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.end .top {
    position: relative;
    right: 700px;
    top: 150px;
    z-index: 10;
    max-width: 300px;
    text-align: left; /* Zorg ervoor dat de tekst links uitgelijnd is */
    font-family: 'Mynerve', sans-serif;
    font-size: 1.5rem;
    color: rgb(78, 78, 78);
    padding: 1%;
    background-image: url('../../assets/paper.jpg');
    background-size: cover;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);
}

.end .top2 {
    position: relative;
    left: 500px;
    top: 100px;
    max-width: 300px;
    text-align: left; /* Zorg ervoor dat de tekst links uitgelijnd is */
    font-family: 'Mynerve', sans-serif;
    font-size: 1.5rem;
    color: rgb(78, 78, 78);
    padding: 1%;
    background-image: url('../../assets/paper.jpg');
    background-size: cover;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);
}

.end .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}

/* Eigenschappen Profile boxen */

.piechart { 
    width: 600px;
    height: 600px;
    display: block;
    background-color: rgba(255, 255, 255, 0); /* Volledig transparant */
    border-radius: 12px;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);
    overflow: visible;
}

  
  .chart-container {
    position: relative; 
    bottom: 100px;
    right: 300px;
    display: flex;
    justify-content: center;
  }
  

@media screen and (Max-width:540px) {
    .power .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}