.end {
    width: 100%;
    height: 100vh;
}

.end .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.end .top {
    position: relative;
    right: 700px;
    top: 150px;
    z-index: 10;
    max-width: 300px;
    text-align: left; /* Zorg ervoor dat de tekst links uitgelijnd is */
    font-family: 'Mynerve', sans-serif;
    font-size: 1.5rem;
    color: rgb(78, 78, 78);
    padding: 1%;
    background-image: url('../../assets/paper.jpg');
    background-size: cover;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);
}

.end .top2 {
    position: relative;
    left: 500px;
    top: 100px;
    max-width: 300px;
    text-align: left; /* Zorg ervoor dat de tekst links uitgelijnd is */
    font-family: 'Mynerve', sans-serif;
    font-size: 1.5rem;
    color: rgb(78, 78, 78);
    padding: 1%;
    background-image: url('../../assets/paper.jpg');
    background-size: cover;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.end .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}

/* Eigenschappen grafieken*/

.piechart { 
    width: 600px;
    height: 600px;
    display: block;
    background-color: transparent; /* Transparant maken */
    border-radius: 12px;
 
}

  .chart-container {
    position: relative; 
    bottom: 100px;
    opacity: 70%;
    display: flex;
    justify-content: center;
  }


.piechart, .barchart {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;

}

.barchart {
    position: relative;
    left: 550px;
    bottom: 700px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}
  

@media screen and (max-width: 768px) {
    .end .top, .end .top2 {
        font-size: 1.2rem;
        max-width: 80%;
        text-align: center;
        margin: 50px;
    }

    .end .top {
        right: 0;
        top: 0;
    }

    .end .top2 {
        left: 0;
        top: 20px;
    }

    .chart-container {
        bottom: 80px;
        flex-direction: column;
        align-items: center;
    }

    .piechart {
        width: 90%;
        max-width: 500px;
        height: auto;
    }

    .barchart {
        width: 90%;
        max-width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 540px) {
    .end .top, .end .top2 {
        font-size: 1rem;
        max-width: 90%;
    }

    .piechart {
        width: 90%;
        height: auto;
    }

    .barchart {
        width: 90%;
        height: auto;
    }

    .end .top, .end .top2 {
        padding: 0.5rem;
        font-size: 1rem;
    }
}