@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

.nina {
    width: 100%;
    height: 100vh;
}


.nina .portrait {
    position: relative;
    top: 150px;
    right: 400px;
    display: flex;
    justify-content: center; /* Zorgt dat de afbeelding gecentreerd is */
}

.nina-portret {
    width: 300px; /* Breedte van de afbeelding */
    height: 300px; /* Hoogte van de afbeelding */
    border-radius: 50%; /* Maakt de afbeelding rond */
    object-fit: cover; /* Zorgt dat de afbeelding netjes past binnen de cirkel */
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3); /* Subtiele schaduw */
}


.nina .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nina .top {
    text-align: left; /* Zorg ervoor dat de tekst links uitgelijnd is */
    left: -25rem; /* Voegt een marge toe aan de linkerkant voor wat ruimte */
    font-family: 'Mynerve', sans-serif;
    top: 100px;
    color: rgb(78, 78, 78);
    padding: 1%;
    background-image: url('../../assets/paper.jpg');
    background-size: cover;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);         
}

.nina .top p {
    font-size: 2rem;
}


.nina .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}



@media screen and (Max-width:540px) {
    .power .container .bottom {
        flex-direction: column;
        align-items: center;
    }

    .nina .top h1 {
        font-size: 1.2rem; /* Kleinere tekst voor mobiel */
    }

    .nina .top p {
        font-size: 1rem; /* Verklein de paragrafen tekst */
    }

    .nina .portrait {
        position: relative; /* Verwijdert de `relative` en `right` styling voor mobiel */
        top: 200px; /* Reset de top-waarde */
        right: auto; /* Reset de right-waarde */
        display: flex;
        justify-content: center; /* Centreer het portret horizontaal */
    }

    .nina-portret {
        width: 250px; /* Maak het portret kleiner voor mobiel */
        height: 250px;
        border-radius: 50%; /* Zorg dat het rond blijft */
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3); /* Schaduw aanpassen voor kleinere afmetingen */
    }
}

@media screen and (max-width:700px) {
    .nina .top {
        margin-left: 20px; /* Verwijder de negatieve marge voor mobiel */
        margin-top: 50px;
        margin-right: 20px; /* Verklein de marge aan de bovenkant */
        padding: 2%; /* Geef meer ruimte aan de binnenkant voor een betere leesbaarheid */
        background-size: cover;
    }
}