.pagina3 {
    width: 100%;
    height: 100vh;
}

.pagina3 .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pagina3 .top {
    margin-top: 25rem;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,   
        -1px 1px 0 #000,   
        1px 1px 0 #000;  
}

.pagina3 .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}

.chart-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataCard {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (Max-width:540px) {
    .power .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}