.nina {
    width: 100%;
    height: 100vh;
}

.nina .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nina .top {
    text-align: left; /* Zorg ervoor dat de tekst links uitgelijnd is */
    margin-left: -25rem; /* Voegt een marge toe aan de linkerkant voor wat ruimte */
    margin-top: 100px;
    color: rgb(78, 78, 78);
    padding: 1%;
    background-image: url('../../assets/paper.jpg');
    background-size: cover;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);         
}

.nina .top p {
    font-size: 2rem;
}


.nina .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}



@media screen and (Max-width:540px) {
    .power .container .bottom {
        flex-direction: column;
        align-items: center;
    }

    .nina .top h1 {
        font-size: 1.2rem; /* Kleinere tekst voor mobiel */
    }

    .nina .top p {
        font-size: 1rem; /* Verklein de paragrafen tekst */
    }
}

@media screen and (max-width:700px) {
    .nina .top {
        margin-left: 20px; /* Verwijder de negatieve marge voor mobiel */
        margin-top: 50px;
        margin-right: 20px; /* Verklein de marge aan de bovenkant */
        padding: 2%; /* Geef meer ruimte aan de binnenkant voor een betere leesbaarheid */
        background-size: cover;
    }
}